/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


``` properties
/.settings/
/target/


# Eclipse project files
.classpath
.project



# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out

.DS_Store
*/.DS_Store